.commitment {
  width: 80%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 8rem;
}

.description {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--clr-dark-blue);
}

.description h3 {
  font-family: var(--ff-fraunces);
  font-size: var(--fraunces-fs-h3);
}

.description p span {
  font-family: var(--ff-barlow);
  text-align: left;
  line-height: var(--barlow-line-height);
}

.description span {
  color: inherit;
  font-size: inherit;
}

.picture {
  border-radius: 0.5rem;
  overflow: hidden;
}

@media (max-width: 1140px) {
  .commitment {
    width: 100%;
    gap: 4rem;
  }

  .description {
    align-self: stretch;
  }
}

@media (max-width: 728px) {
  .commitment {
    display: flex;
    flex-direction: column;
  }

  .description h3,
  .description p {
    text-align: center;
  }

  .description h3 {
    font-size: clamp(3.5rem, 9vw, 6rem);
  }
}
