.steps {
  width: 80%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 8rem;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.formContainer {
  display: grid;
  gap: 3rem;
}

@media (max-width: 1140px) {
  .btnContainer {
    display: none;
  }

  .steps {
    width: unset;
    grid-template-columns: unset;
  }
}
