.servicesSection {
  background-color: var(--clr-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

.servicesHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-block: 4rem;
  width: 40%;
}

.servicesHeader h2,
.servicesHeader p {
  color: var(--clr-light-cream);
}

.servicesHeader h2 {
  font-family: var(--ff-fraunces);
  font-size: var(--fraunces-fs-h2);
  line-height: var(--fraunces-line-height-600);
}

.servicesHeader p {
  line-height: var(--barlow-line-height);
  font-weight: var(--fw-barlow-regular);
}

.cards {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  transform: translateY(20%);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  background-color: var(--clr-dark-cyan);
  border-radius: 0.5rem;
  padding: 4rem 2rem;
}

.card h4,
.card p {
  color: var(--clr-light-cream);
}

.card div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card h4 {
  text-align: center;
}

.serviceImage {
  width: 3.5rem;
  aspect-ratio: 1.1;
}

@media (max-width: 1140px) {
  .servicesHeader {
    width: 80%;
  }
  .cards {
    flex-direction: column;
  }

  .card {
    flex-direction: row;
  }

  .card > div {
    align-items: flex-start;
  }

  .card p {
    text-align: left;
  }
}

@media (max-width: 980px) {
  .card {
    flex-direction: column;
  }

  .card > div {
    align-items: center;
  }

  .card p {
    text-align: center;
  }

  .servicesHeader h2 {
    font-size: clamp(1rem, 8vw, 2.5rem);
  }
}
